@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  font-family: 'montserrat', 'system-ui';

}

body {
  background: #000;
}

.active {
  font-weight: 500;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  table {
    max-width: 1000px;
    width: 100%;
  }

  h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }

  .github {
    max-width: fit-content;
    background: #d1d1d1;
    border: 1px solid black;

    img {
      width: 100px;
    }
  }

  thead {
    user-select: none;

    th {
      background: #f5a9cc;
      transition: .3s;

      &:hover {
        background: #fc89bf;
      }

      cursor: pointer;
    }
  }

  tbody {
    background: #d1d1d1;
  }

  td,
  th {
    width: 200px;
    padding: 10px;
    @media (max-width: 405px) {
      padding: 0;
    }
  }
}